/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* style */
body {
  font-family: "Poppins", sans-serif;
}

/* navigation bar style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
}
nav a {
  font-size: 1.5em;
}
nav .menu-item a {
  text-decoration: none;
  margin-right: 15px;
  font-size: 1em;
  color: black;
}
nav .menu-icon a {
  margin-right: 15px;
  color: black;
}
/* upper style */
.upper-section {
  display: flex;
  padding: 10%;
}
.upper-heading {
  font-size: 40px;
}
.upper-info {
  margin-right: 50px;
}
.upper-paragraph {
  margin-bottom: 35px;
}
.button {
  text-decoration: none;
  background-color: crimson;
  padding: 10px 30px;
  border-radius: 30px;
  color: whitesmoke;
  font-size: 1em;
}
#inside-button {
  margin-right: 10px;
}
#camera-image {
  margin-right: 30px;
}
p {
  font-size: 15px;
}

/* Middle section style */
.middle-section {
  padding: 0 40px;
  margin-left: 120px;
  margin-right: 120px;
}

.middle-heading {
  text-align: center;
}
.main-collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.collections {
  width: 320px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 5%;
}
.collection-shadow {
  margin-left: 10px;
}
.collection-photo img {
  width: 300px;
  height: 256px;
}
.collection-title {
  font-weight: 500;
  font-size: 28px;
}
.collection-price {
  font-size: 24px;
}
.fa-star,
.fa-star-half-alt {
  font-size: 10px;
  color: #fb8200;
}
p {
  color: #787885;
}
.middle-button {
  font-size: 1em;
  text-align: end;
  margin-top: 60px;
  margin-right: 20px;
}
.button-deco {
  text-decoration: none;
  color: crimson;
}

/* extra section style */
.mail-section {
  height: 550px;
  padding-bottom: 10%;
}
#contact-us {
  margin-left: 40%;
  color: #363958;
  font-size: 40px;
}
form {
  margin: 0 auto;
  width: 40%;
}
input,
textarea {
  width: 439px;
  height: 27px;
  background: #efefef;
  border: 1px solid #dedede;
  padding: 10px;
  margin-top: 3px;
  font-size: 20px;
  color: #525252;
}
textarea {
  height: 250px;
}
#submit {
  font-size: 15px;
  height: 30%;
  width: 76%;
  font-weight: bold;
  background-color: brown;
  color: #ffffff;
}
/* extra section end */

/* footer section style */
.footer-section {
  background-color: black;
  text-align: center;
  height: 200px;
}
#text-section {
  font-size: 30px;
  color: white;
}
#copyright,
#reserved {
  font-size: 15px;
  color: white;
}

.fa-instagram,
.fa-basketball-ball,
.fa-twitter-square,
.fa-youtube {
  font-size: 20px;
  color: #ffffff;
  margin-right: 20px;
}
/* footer section end */

/* media query mobile application */
@media only screen and (max-width: 688px) {
  nav {
    flex-direction: column-reverse;
    width: 100%;
  }
  .upper-section {
    flex-direction: column-reverse;
    width: 100%;
  }

  .main-collections {
    grid-template-columns: repeat(1, 1fr);
  }
